{% extends "base.html" %}
{% block content %}
    <div class="courses-container">
        <aside class="sidebar">
            <h2>Navigation</h2>
            <ul>
                <li><a href="#section-1-1">Section 1.1</a></li>
                <li><a href="#section-1-2">Section 1.2</a></li>
                <li><a href="#section-1-3">Section 1.3</a></li>
                <li><a href="#section-2-1">Section 2.1</a></li>
                <li><a href="#section-2-2">Section 2.2</a></li>
                <li><a href="#section-3-1">Section 3.1</a></li>
                <li><a href="#section-3-2">Section 3.2</a></li>
                <li><a href="#section-3-3">Section 3.3</a></li>
                <li><a href="#section-3-4">Section 3.4</a></li>
            </ul>
        </aside>

    <main class="course-content">
        <h1>{{ course.title }}</h1>
        <h5>Subject: {{ course.subject }}</h5>
        <p>{{ course.description }}</p>
        <br>

        {% for lesson in lessons %}
        <h4 id="lesson-{{ lesson.id }}">{{ lesson.title }}</h4>
        <p>Lesson content coming soon.</p>
        <br>
        <br>
        {% endfor %}
    </main>
</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhp5yYlrN+pWnprRDqV01aVZrK+fLMXf63QJektPvCZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
{% endblock %}