{% extends "base.html" %}
{% block content %}

<div class="App">
    <header class="App-header">
        <p>
            Online learning, for everyone.
        </p>
        <p class="small">
            Accessibility should be a feature, not an afterthought.
        </p>
    </header>
</div>

<!-- Footer with link to repo -->
 <footer style="margin-top: 20px; text-align: center;">
    <p style="font-size: 25px;">GitHub Repository: <a href="https://github.com/chlorvette/tsa_softwaredev26/" target="_blank">here</a></p>
</footer>

{% endblock %}